body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.side-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    background-color: #f0f0f0;
    padding: 1em;
    border-right: 1px solid #ddd;
    transition: transform 0.5s ease-in-out;
}

.side-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.side-nav li {
    margin-bottom: 1em;
}

.side-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100vh;
    background-color: #86a738e1; 
    padding: 1em;
    border-right: 1px solid #1bda61f6;
    transition: transform 0.5s ease-in-out;
}

.side-nav a:hover {
    color: #457145;
}

.nav-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.nav-toggle:hover {
    color: #666;
}

.side-nav.folded {
    transform: translateX(-200px);
}

.side-nav.folded ul {
    display: none;
}

header {
    background-color: #f0f0f0;
    padding: 1em;
    text-align: center; 
    margin-left: 200px; 
}

.search-input {
    display: flex;
    align-items: center;
    justify-content: center; 
}

#search-bar {
    width: 40%;
    padding: 0.5em;
    font-size: 1.2em;
    margin-right: 1em; 
}

#search-button {
    padding: 0.5em 1em;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #4CAF50; /* Green color */
    color: #fff; /* White text color */
    border: none;
    border-radius: 20px; /* Make the button oval */
    width: 80px; /* Set the width to make the button oval */
    height: 40px; /* Set the height to make the button oval */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease-in-out;
}

#search-button:hover {
    background-color: #3e8e41; /* Darker green color on hover */
}

.search-controls {
    margin-top: 1em;
    text-align: center;
}

.sound-icon-wrapper {
    display: flex;
    justify-content: center;
}

#sound-icon {
    font-size: 1.5em;
    cursor: pointer;
}